
#conteneur
{
    width:1000px;
    margin:auto;
    min-height:520px;
    position: relative;
    background-color : black;
}

#entete
{
    height:480px;
    width:1020px;
    margin-bottom:-16px;

}



#message{

    color: black;

}

#classementparcours p{

    color:black;

}

#gauche
{
    width:1000px;
    padding:10px;
    min-height:1000px;
    height-auto:1000px;
    background-color:#CBD2CB;
    float: left ;
    color: white ;
}



#menu
{
    margin: auto ;
    width:1020px;
    height:73px;
    background-color: #CBD2CB ;
    text-align: center ;
}

#infoparcours{

    color:black;

}

#menu li
{

    padding-top: 12px ;
    text-align: center ;
    list-style-type: none ;
    width: 255px ;
    height: 58px ;
    float:left;
    background-color: #B6B9B6;
}



#menu li ul
{
    display :none ;
    position:absolute ;
}

#menu li ul li { float :none ; }

#menu li:hover ul
{
    display:block ;
}


#footer
{
    display:block;
    height:200px ;
}



p
{
    color: black ;
}

html
{
    
    width:2000px ;
    height: 1600px ;
}





#menu ul
{
    padding:0;
    border-radius: 10px;
}




#menu a {
    display:block;
    padding-top:10px;
    width:100%;
    height:40px;
    text-align:center;
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-size:16px;

}

#menu a:hover
{
    background-color: darkgrey ;
}

#footer p
{
    display: inline-block ;
    text-align: center ;
    margin: 28px 55px 10px 10px ;
}






















